<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">{{ event.name }}</h4>
        <h4 class="modal-title text-center" id="myModalLabel" ng-if="!event.name">New Event</h4>
      </div>
	  <form method="POST" id="create-event-form">
      	<div class="modal-body">
      		<div class="container container-modal">
	      		<div class="row row-modal">
	      			<div class="col-xs-6 col-xs-offset-2">
			      		<div class="input-group">
			      			<label for="event-name">Event Name</label>
			      			<input type="text" class="form-control event-name" id="event-name" name="event-name" ng-model='event.name' required>
			      		</div>      				
	      			</div>
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-xs-6 col-xs-offset-2">
			      		<div class="input-group">
			      			<label for="type">Type of Event</label>
			      			<input type="text" class="type form-control" id="type" name="type" placeholder="Birthday Party, Baby Shower, etc." ng-model="event.type" required>
			      		</div>      				
	      			</div>
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-xs-6 col-xs-offset-2">
			      		<div class="input-group">
			      			<label for="host">Who's hosting this event?</label>
			      			<input type="text" class="host form-control" id="host" name="host" placeholder="A person or organization's name" ng-model="event.host" autocomplete required>
			      		</div>      				
	      			</div>
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-xs-6 col-xs-offset-2">
			      		<div class="input-group">
			      			<label for="location">Where is the event taking place?</label>
			      			<input type="text" class="location form-control" id="location" name="location" placeholder="777 Main St. San Jose, CA" ng-model="event.location" autocomplete required>
			      		</div>      				
	      			</div>
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-xs-4 col-xs-offset-2">
			      		<div class="input-group">
			      			<label for="start-date">Event Start Date</label>
			      			<input type="date" class="start-date form-control" id="start-date" name="start-date" ng-model="event.startDate" required>
			      		</div>     				
	      			</div>

	      			<div class="col-xs-4">
			      		<div class="input-group">
			      			<label for="start-time">Event Start Time</label>
			      			<input type="time" class="start-time form-control" id="start-time" name="start-time" ng-model="event.startTime" required>
			      		</div>     				
	      			</div>	      			
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-xs-4 col-xs-offset-2">
			      		<div class="input-group">
			      			<label for="end-date">Event End Date</label>
			      			<input type="date" class="end-date form-control" id="end-date" name="end-date" ng-model="event.endDate">
			      		</div>      				
	      			</div>

	      			<div class="col-xs-4">
			      		<div class="input-group">
			      			<label for="end-time">Event End Date</label>
			      			<input type="time" class="end-time form-control" id="end-time" name="end-time" ng-model="event.endTime" required>
			      		</div>      				
	      			</div>	      			
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-xs-8 col-xs-offset-2">
<!-- 			      		<div class="input-group">
			      			<label for="guestlist">Who's invited?</label>
			      			<textarea name="guestlist" id="guestlist" cols="30" rows="10" placeholder="John Doe, Jane Doe" class="guestlist form-control" cols="40" ng-model="event.description"></textarea>
			      		</div> -->
			      		<div class="input-group">
			      			<label for="description">Description of Event</label>
			      			<textarea name="description" id="description" cols="30" rows="10" placeholder="John Doe, Jane Doe" class="description form-control" cols="40" ng-model="event.description"></textarea>
			      		</div>        				
	      			</div>
	      		</div>      		
	  		</div>
      	</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-default" ng-click="close()">Close</button>
        	<input type="submit" class="btn btn-primary" ng-click="saveEvent()" value="Save"></input>
      	</div>
      </form>
    </div>
  </div>
</div>