<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">{{ event.name }}</h4>
        <h4 class="modal-title text-center" id="myModalLabel" ng-if="!event.name">New Event</h4>
      </div>
	  <form method="POST" id="editEventForm" name="editEventForm">
      	<div class="modal-body">
      		<div class="container container-modal">
	      		<div class="row row-modal">
	      			<div class="col-md-8 col-md-offset-2">
			      		<div class="form-group" ng-class="{ 'has-error': editEventForm.eventName.$invalid && editEventForm.eventName.$dirty, 'has-success': editEventForm.eventName.$valid && editEventForm.eventName.$dirty }">
			      			<label for="eventName">Event Name</label>
			      			<input type="text" class="form-control eventName" id="eventName" name="eventName" ng-model='event.name' placeholder="Zach's Birthday Party" required>
			      			<div ng-messages="editEventForm.eventName.$error" ng-show="editEventForm.eventName.$touched">
			      				<p ng-message="required" class="text-danger">This input is required</p>
			      			</div>
			      		</div>      				
	      			</div>
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-md-8 col-md-offset-2">
			      		<div class="form-group" ng-class="{ 'has-error': editEventForm.type.$invalid && editEventForm.type.$dirty, 'has-success': editEventForm.type.$valid && editEventForm.type.$dirty }">
			      			<label for="type">Type of Event</label>
			      			<input list="type" class="type form-control" placeholder="Birthday Party, Baby Shower, etc." ng-model="event.type" required>
			      			<datalist name="type" id="type">
			      				<option value="Birthday Party"></option>
			      				<option value="Graduation Party"></option>
			      				<option value="Concert"></option>
			      				<option value="Meeting"></option>
			      				<option value="Baby Shower"></option>
			      			</datalist>
			      			<div ng-messages="editEventForm.type.$error" ng-show="editEventForm.type.$touched">
			      				<p ng-message="required" class="text-danger">This input is required</p>
			      			</div>
			      		</div>      				
	      			</div>
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-md-8 col-md-offset-2">
			      		<div class="form-group" ng-class="{ 'has-error': editEventForm.host.$invalid && editEventForm.host.$dirty, 'has-success': editEventForm.host.$valid && editEventForm.host.$dirty }">
			      			<label for="host">Who's hosting this event?</label>
			      			<input type="text" class="host form-control" id="host" name="host" placeholder="A person or organization's name" ng-model="event.host" autocomplete required>
			      		</div> 
			      		<div ng-messages="editEventForm.host.$error" ng-show="editEventForm.host.$touched">
			      			<p ng-message="required" class="text-danger">This input is required</p>
			      		</div>     				
	      			</div>
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-md-8 col-md-offset-2">
			      		<div class="form-group" ng-class="{ 'has-error': editEventForm.location.$invalid && editEventForm.location.$dirty, 'has-success': editEventForm.location.$valid && editEventForm.location.$dirty }">
			      			<label for="location">Where is the event taking place?</label>
			      			<input type="text" class="location form-control" id="location" name="location" placeholder="777 Main St. San Jose, CA" ng-model="event.location" autocomplete required>
			      			<div ng-messages="editEventForm.location.$error" ng-show="editEventForm.touched.$touched">
			      				<p ng-message="required" class="text-danger">This input is required</p>
			      			</div>
			      		</div>      				
	      			</div>
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-md-8 col-md-offset-2">
			      		<div class="form-group" ng-class="{ 'has-error': editEventForm.start.$invalid && editEventForm.start.$dirty, 'has-success': editEventForm.start.$valid && editEventForm.start.$dirty }">
			      			<label for="start">When does it start?</label>
			      			<input type="datetime-local" class="start form-control" id="start" name="start" ng-model="event.start" placeholder="2016-01-31" ng-change="checkDate(editEventForm)"  required>
			      			<div ng-messages="editEventForm.start.$error" ng-show="editEventForm.start.$touched">
			      				<p ng-message="required" class="text-danger">This input is required</p>
			      				<p ng-message="date" class="text-danger">Please enter a correct date</p>
			      				<p ng-message="time" class="text-danger">Please enter a correct time</p>
			      			</div>
			      		</div>     				
	      			</div>    			
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-md-8 col-md-offset-2">
			      		<div class="form-group" ng-class="{ 'has-error': editEventForm.end.$invalid && editEventForm.end.$dirty, 'has-success': editEventForm.end.$valid && editEventForm.end.$dirty }">
			      			<label for="end">When does it end?</label>
			      			<input type="datetime-local" class="end form-control" id="end" name="end" ng-model="event.end" placeholder="2016-01-31" ng-change="checkDate(editEventForm)" required>
			      			<div ng-messages="editEventForm.end.$error" ng-show="editEventForm.end.$touched">
			      				<p ng-message="required" class="text-danger">This input is required</p>
			      				<p ng-message="date" class="text-danger">Please enter a correct date</p>
			      				<p ng-message="time" class="text-danger">Please enter a correct time</p>
			      				<p ng-message="endDate" class="text-danger">End of event cannot be before start of event</p>
			      			</div>			   
			      		</div>      				
	      			</div>	      			
	      		</div>

	      		<div class="row row-modal">
	      			<div class="col-md-8 col-md-offset-2">
	      				<div class="form-group" ng-class="{ 'has-error' : editEventForm.guestList.$invalid && editEventForm.guestList.$dirty, 'has-success': editEventForm.guestList.$valid && editEventForm.guestList.$dirty }">
			      			<label for="guestlist">Who's invited? (Separate names with commas)</label>
			      			<textarea name="guestlist" id="guestlist" cols="30" rows="10" placeholder="John Doe, Jane Doe, Joe Doe" class="guestlist form-control" cols="40" ng-model="event.guesList" required></textarea>
			      			<div ng-messages="editEventForm.guestList.$error" ng-show="editEventForm.guestList.$touched">
			      				<p ng-message="required" class="text-danger">This input is required</p>
			      			</div>				      			
			      		</div>
	      			</div>
	      		</div>

			    <div class="row row-modal">
	              <div class="col-md-8 col-md-offset-2">
	                <div class="form-group">
	                  <label for="optional">Add description?</label><br>
	                  <input type="checkbox" name="optional" ng-click="toggleAddDescription()">
	                </div>
	              </div>
	            </div>

	      		<div class="row row-modal" ng-show="addDescription">
	      			<div class="col-md-8 col-md-offset-2">
			      		<div class="form-group" ng-class="{ 'has-error' : editEventForm.message.$invalid && editEventForm.message.$dirty, 'has-success': editEventForm.message.$valid && editEventForm.message.$dirty }">
			      			<label for="message">Message (Optional)</label>
			      			<textarea name="message" id="message" cols="30" rows="10" placeholder="Some message..." class="message form-control" cols="40" ng-model="event.message"></textarea>
			      		</div>        				
	      			</div>
	      		</div>      		
	  		</div>
      	</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-default" ng-click="cancelEdit()">Close</button>
        	<input type="submit" class="btn btn-primary" ng-click="saveEdit()" value="Save" ng-disabled="editEventForm.$invalid"></input>
      	</div>
      </form>
    </div>
  </div>
</div>